@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.2rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Change the background color */
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Change the color of the scrollbar */
  border-radius: 6px;
  width: 1rem;
}
